# TERM COLORS
bred='\033[1;31m'
bblue='\033[1;34m'
bgreen='\033[1;32m'
yellow='\033[0;33m'
red='\033[0;31m'
blue='\033[0;34m'
green='\033[0;32m'
gray='\033[90m'
reset='\033[0m'

# RESOLVE DOMAINS
resolveDomains_thread=50
resolveDomains_dns=8.8.8.8:53

naabu_opt="-top-ports 1000 -silent"
anew_opt="-q"
httpx_opt="-title -silent -tech-detect -status-code -follow-redirects"
fff_opt="-s 200 "
httprobe_opt="-c 50 -prefer-https "

jaeles_opt="-c 50 \
			-s ~/.jaeles/base-signatures/ \
			-s ~/sectool/scan-templates/jaeles-* \
			-s ~/sectool/scan-templates/kenzer-templates/jaeles/"

nuclei_opt="\
-t /root/nuclei-templates/ \
-t /root/sectool/scan-templates/nuclei-kevinlpd \
-t /root/sectool/scan-templates/kenzer-templates/nuclei \
# -t /root/sectool/scan-templates/nitin-templates \
-etags misconfig"

ffuf_opt="\
-w \"$HOME/wordlist/dirsearch_dicc.txt:FUZZ\" \
-r -c -mc 200,204,301,302,307,401,403,405"

